@-ms-viewport{
    width: device-width;
  }

.responsive {
    width: 100%;
    height: auto;
}

#titleBtn {
    float: left;
}

.container {
    position: relative;
    margin: 0 auto;
    border: 0 auto;
}

.container .content {
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.titleBtn{
    font-size: 4vw;
    color: white;
    position: absolute;
    align-self: center;
    justify-content: center;
    text-align: center;
}

#btn {
    background-color:#7ECB21;
    border-radius: 3vw;
}

footer {
    background-color: #CFE7B5;
    position: relative;
    width: 100%;
    height: auto;
    padding: 3vw 3vw 3vw 3vw;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr 5fr 2fr;
    grid-template-columns: 2fr 4fr 1fr 4fr 2fr;
}

.content1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-rows: 1fr 2fr;
}

.content2 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-template-rows: 1fr 2fr;
}

.content3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

.content4 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

